# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor and IDE Files
.vscode/
.idea/
*.swp
*.swo
*~

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime and Temporary Files
*.tmp
*.temp
.cache/
.temp/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
bower_components/

# Build Output
dist/
build/
out/


# python cache files 
__pycache__/
*.pyc


# YOLO large files
yolov4.weights
yolov4.cfg

# config.py (Gemini API key)
config.py

#folder
uploads/